.hover_teal:hover {
  background-color: #84ebd8;
}
.hover_blue:hover {
  background-color: #41c1f0;
}
.bg_cyan {
  background: linear-gradient(to bottom, #e1f5fd 0%, #e1f5fd 20%, #f4f6f9 100%);
}
.bubble_divider {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
}
